*.font:	JetBrainsMono Nerd Font:pixelsize=19:antialias=true:autohint=true;
*.alpha: 0.95

!-- Xft settings -- !
Xft.dpi:        120
Xft.antialias:  true
Xft.rgba:       rgb
Xft.hinting:    true
Xft.hintstyle:  hintfull

Xcursor.theme: capitaine-cursors

! Custom
! Original theme https://github.com/nathanbuchar/atom-one-dark-terminal
*.foreground:    #ABB2BF
*.background:    #282c34
*.cursorColor:   #5C6370
*.highlightColor:#3A3F4B

! Negro y gris
*.color0:        #0c0e15
*.color8:        #455574
! Rojos
*.color1:        #f65866
*.color9:        #f65866
! Verde
*.color2:        #8bcd5b
*.color10:       #8bcd5b
! Amarillo
*.color3:        #efbd5d
*.color11:       #efbd5d
! Azul
*.color4:        #41a7fc
*.color12:       #41a7fc
! Magenta
*.color5:        #c75ae8
*.color13:       #c75ae8
! Cyan
*.color6:        #34bfd0
*.color14:       #34bfd0
! Blanco
*.color7:        #6c7d9c
*.color15:       #FFFFFF
